body{
    min-height: 100vh;
}

.body-home{
    background-image: url(/assets/backgroundimage.jpg);
    background-size: cover;
}

.home{
    margin-left: 11%;
    margin-top: 18%;
    margin-bottom: 20%;
}

.btn_home{
    
    margin-top: 30%;
}

.btn{
    margin: 15px;
}

footer{
    background-color: #212529;
    color: white;
    width: 100%;
    position: sticky;
    top: 100%;
}

.about-content{
    font-size: 160%;
}

.heading{
    margin-top: 13%;
    margin-bottom: 13%;
}

.content{
    margin: 15% 5%;
    padding: 5rem 4rem 5rem 4rem;
    background-color: #212529;
    color: white;
}

.products{
    margin-left: 10%;
}

.checked{
    color: gold;
} 